@model IEnumerable<FlightBooking>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bookings List";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Flight ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.FBookingId</td>
                <td>@booking.FlightId</td>
                <td>@booking.PassengerName</td>
                <td>@booking.PassengerEmail</td>
                <td>
                    <a asp-action="Details" asp-route-id="@booking.FBookingId" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@booking.FBookingId" class="btn btn-secondary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@booking.FBookingId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<a asp-action="Create" asp-route-flightId="@ViewBag.FlightId" class="btn btn-primary">Create New Booking</a>

<a asp-controller="Flight" asp-action="Index" class="btn btn-secondary">Back To Flights</a>
